server:
  port: 8888

spring:
  application:
    name: config-service
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
#  profiles:
#    active: native
  profiles:
    active: git
  cloud:
    config:
      server:
        native:
          search-locations: file:///C:/Users/박력/Desktop/Workspace/msa/native-file-repo
#          search-locations: file://${user.home}/Desktop/Workspace/msa/native-file-repo
        git: #default
          uri: https://github.com/pryeok/spring-cloud-config.git
          default-label: main
#          username: pryeok@gmail.com
#          password: qkrfur124$

management:
  endpoints:
    web:
      exposure:
        include:
          - refresh
          - health
          - beans
          - info
          - busrefresh